<?xml version="1.0" encoding="UTF-8"?>
 
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	
  	<display-name>ssh</display-name>
  
  	<filter>
  		<filter-name>struts2</filter-name>
  		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
 	</filter>

 	<filter-mapping>
  		<filter-name>struts2</filter-name>
  		<url-pattern>*.action</url-pattern>
 	</filter-mapping>   	
  
  	<!-- Struts2 + spring 整合設定 : 主要為第一層 action 近來後，給 Spring 控制，*讓 Spring 可以注入 -->
  	<!-- 1.Step : Spring listener 預設會抓 contextConfigLocation -->
  	<!-- classpath = /resources/ 路徑 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.xml</param-value>
	</context-param>
	<!-- 2.Step : 啟動 Spring Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<error-page>
    <!-- Missing resource -->
    	<error-code>404</error-code>
    	<location>/pages/Error.html</location>
	</error-page>
  
</web-app>
