<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- 外部資源引入 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/ssh/resources/css/bootstrap.min.css">
	<script type="text/javascript" src="/ssh/resources/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/angularjs/angular-1.5.6.min.js"></script>
	
	<!-- Customize JS -->
	<script type="text/javascript" src="/ssh/js/cfgSysConParam.js"></script>

	<!-- Customize CSS -->
	<style>
		table {
		    border-collapse: collapse;
		    width: 100%;
		}
		th, td {
		    text-align: left;
		    padding: 8px;
		    text-align:center;
		}
		tr:nth-child(even){background-color: #f2f2f2}
		
		th {
		    background-color: #06425C;
		    color: #F2F2F2;
		}
		th:hover {
			background-color: #B7695C;
		}
		tr:hover {
			background-color: #51A39D;
			color : #F2F2F2;
		}
		.button {
		    font-size: 30px;
		}
		.button:hover {

		}
		.glyphicon {
    		font-size: 20px;
		}
		.errorInput {
			border:1px solid red;
		}
	</style>
</head>
<body ng-app="sysCfgParamApp" ng-controller="sysCfgParamCtrl">

	<h2>CFG_SYSTEM_CONFIG PARAMETERS</h2>
  	<button class="btn btn-success" data-toggle="modal" data-target="#addModel">Add</button>
	<table>
		<thead t-block="blockPagination">
			<tr>
				<th ng-repeat="thItem in tableHeader track by $index"
					ng-click="">
					{{thItem}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="itmes in tableBody track by $index"
				ng-click="edit(itmes)">
				<td ng-repeat="item in itmes track by $index" ng-model="item">
					{{item}}
				</td>
			</tr>
		</tbody>
	</table>

</body>

<!-- add model -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="addModel" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      	<!-- header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ADD ITEM</h4>
        </div>
      	<!-- body -->
        <div class="modal-body" ng-repeat="addThItems in addCfgSysConBean track by $index">
	       	<div>
				<label class="col-md-4">
					{{addThItems.key}} :
				</label>
				<div class="col-md-8">
					<input type="text" style="width:100%;" ng-model="addThItems.value" id={{addThItems.key}}>
				</div>
	       	</div>
	  	</div>
       	<br/>
       	<!-- footer -->
        <div class="modal-footer">
        	<button type="button" class="btn btn-info" ng-click="add()">Add</button>
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- edit model -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="editModel" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      	<!-- header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">EDIT ITEM</h4>
        </div>
      	<!-- body -->
        <div class="modal-body" ng-repeat="item in editCfgSysConBean track by $index">
	       	<div>
				<label class="col-md-4">
					{{item.key}} :
				</label>
				<div class="col-md-8">
					<input type="text" style="width:100%;" ng-model="item.value" id={{item.key}}>
				</div>
	       	</div>
	  	</div>
       	<br/>
       	<!-- footer -->
        <div class="modal-footer">
        	<button type="button" class="btn btn-success" ng-click="save()">Save</button>
        	<button type="button" class="btn btn-danger" ng-click="remove()">Delete</button>
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- editResponseModel model -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="editResponseModel" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      	<!-- header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">EDIT RESPONSE</h4>
        </div>
      	<!-- body -->
        <div class="modal-body">
	       	<h1 id="editResponseStr">{{editResponseStr}}</h1>
	  	</div>
       	<br/>
       	<!-- footer -->
        <div class="modal-footer">
          	<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>

</html>