<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
	<meta charset="utf-8">
	<!-- 外部資源引入 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/ssh/resources/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/ssh/resources/font-awesome/css/font-awesome.min.css">
	<script type="text/javascript" src="/ssh/resources/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/angularjs/angular-1.5.6.min.js"></script>

	
	<!-- Customize JS -->
	<script type="text/javascript" src="/ssh/js/cfgSysConParam.js"></script>
	<script type="text/javascript" src="/ssh/js/factory/sshConnectionFactory.js"></script>
	<script type="text/javascript" src="/ssh/js/factory/sshGeneralFactory.js"></script>

	<!-- Customize CSS -->
	<link rel="stylesheet" href="/ssh/resources/css/cfgSysConParam.css">

</head>
<body ng-app="sysCfgParamApp" ng-controller="sysCfgParamCtrl">

	<h2>CFG_SYSTEM_CONFIG PARAMETERS</h2>
	<div style="position: relative; top:-50px;">
	
		<button class="btn btn-success" data-toggle="modal" data-target="#addModel" ng-disabled="isBatchDeleteModel" ng-click="initAdd()">
			<i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add
		</button>
		<button class="btn btn-warning" ng-click="batchDeleteModelSwitch()" ng-show="!isBatchDeleteModel">
			<i class="fa fa-trash fa-fw" aria-hidden="true"></i>Batch Delete
		</button>
		<button class="btn btn-danger" ng-click="batchDelete()" ng-show="isBatchDeleteModel">
			<i class="fa fa-trash fa-fw" aria-hidden="true"></i>Delete
		</button>
		<button class="btn btn-default" ng-click="batchDeleteModelSwitch()" ng-show="isBatchDeleteModel">
			<i class="fa fa-times fa-fw" aria-hidden="true"></i>Cancel
		</button>

		<lable>Records Per Page : </lable>
		<select ng-disabled="isBatchDeleteModel" 
				onchange="reSetPagCount()" 
				id="rppSelect">
			<option ng-repeat="item in recordsPerPage track by $index" value={{item}}>
				{{item}}
			</option>
		</select>
		<ul class="pagination" style="position: relative; top:30px;"
			 ng-repeat="i in nowPagCount track by $index">
		  <li ng-click="goPagination($index+1)" id="pIndex{{$index+1}}">
		  	<span>{{$index+1}}</span>
		  </li>
		</ul>
		
		<table>
			<thead t-block="blockPagination">
				<tr>
					<th>
						<span ng-show="!isBatchDeleteModel">No.</span>
						<span ng-show="isBatchDeleteModel"><input type="checkbox" ng-model="isAllChecked">
					</th>
					<th ng-repeat="thItem in tableHeader track by $index"
						ng-click="sortByHeader(thItem)">
						{{thItem.header}}
						<i class="fa fa-sort-desc fa-fw" aria-hidden="true" ng-show="thItem.descIcon"></i>
						<i class="fa fa-sort-asc fa-fw" aria-hidden="true" ng-show="thItem.ascIcon"></i>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="itmes in tableBody track by $index"
					ng-click="edit(itmes.data)"
					ng-show="itmes.isShow">
					<td class="tdIndex">
						{{$index+1}}
						<span ng-show="isBatchDeleteModel"> | 
							<input type="checkbox" ng-model="itmes.isChecked">
						</span>
					</td>
					<td ng-repeat="item in itmes.data track by $index" 
						ng-model="item">
						{{item}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

	<!-- add model -->
	<div class="container">
	  <!-- Modal -->
	  <div class="modal fade" id="addModel" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      <div class="modal-content">
	      	<!-- header -->
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">ADD ITEM</h4>
	        </div>
	      	<!-- body -->
	        <div class="modal-body" ng-repeat="addThItems in addCfgSysConBean track by $index">
		       	<div>
					<label class="col-md-4">
						{{addThItems.key}} :
					</label>
					<div class="col-md-8">
						<input type="text" style="width:100%;" ng-model="addThItems.value" id={{addThItems.key}}>
					</div>
		       	</div>
		  	</div>
	       	<br/>
	       	<!-- footer -->
	        <div class="modal-footer">
	        	<button type="button" class="btn btn-info" ng-click="add()">Add</button>
	          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- edit model -->
	<div class="container">
	  <!-- Modal -->
	  <div class="modal fade" id="editModel" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      <div class="modal-content">
	      	<!-- header -->
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">EDIT ITEM</h4>
	        </div>
	      	<!-- body -->
	        <div class="modal-body" ng-repeat="item in editCfgSysConBean track by $index">
		       	<div>
					<label class="col-md-4">
						{{item.key}} :
					</label>
					<div class="col-md-8">
						<input type="text" style="width:100%;" ng-model="item.value" id={{item.key}}>
					</div>
		       	</div>
		  	</div>
	       	<br/>
	       	<!-- footer -->
	        <div class="modal-footer">
	        	<button type="button" class="btn" ng-click="copyForAdd()">Copy to add</button>
	        	<button type="button" class="btn btn-success" ng-click="save()">Save</button>
	        	<button type="button" class="btn btn-danger" ng-click="remove()">Delete</button>
	          	<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- editResponseModel model -->
	<div class="container">
	  <!-- Modal -->
	  <div class="modal fade" id="editResponseModel" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      <div class="modal-content">
	      	<!-- header -->
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">EDIT RESPONSE</h4>
	        </div>
	      	<!-- body -->
	        <div class="modal-body">
		       	<h1 id="editResponseStr">{{editResponseStr}}</h1>
		  	</div>
	       	<br/>
	       	<!-- footer -->
	        <div class="modal-footer">
	          	<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

</html>