<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
	<meta charset="utf-8">
	<!-- 外部資源引入 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/ssh/resources/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/ssh/resources/font-awesome/css/font-awesome.min.css">
	<script type="text/javascript" src="/ssh/resources/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/angularjs/angular-1.5.6.min.js"></script>
	
	<!-- Customize JS -->
	<script type="text/javascript" src="/ssh/js/editMenuBar.js"></script>
	<script type="text/javascript" src="/ssh/js/factory/sshConnectionFactory.js"></script>
	<script type="text/javascript" src="/ssh/js/factory/sshGeneralFactory.js"></script>
	
	<!-- Customize CSS -->
	<link rel="stylesheet" href="/ssh/resources/css/editMenuBar.css">
	
</head>
<body ng-app="editMenuBarApp" ng-controller="editMenuBarCtrl">
	<div class="revise">
		<h2>EDIT MENU BAR</h2>
		<lable>
			<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
			Tip : configuration saved. please logout and login to take effect.
		</lable>
		<div class="row">
			<!-- S : TREE LIST -->
			<div class="col-md-5">
				<table style="width:100%">
				 <tr>
				 	<th width="20%"><h4>TYPE</h4></th>
				 	<th width="10%"></th>
				 	<th width="70%"><h4>MUMBER</h4></th>
				 </tr>
				 <tr>
				 	<td>ROOT <span class="badge">{{rootCount}}</span></td>
				 	<td><i class="fa fa-plus-circle" aria-hidden="true" ng-click="addNote('r')"></i></td>
				 	<td>
				 		<span ng-repeat="r in root track by $index">
				 			<button type="button" 
				 					class="btn btn-default" 
				 					id="{{r.id}}" 
				 					ng-click="activeRoot(r)">
				 				{{r.code}}
				 				<span class="badge" ng-show="r.isNew"><i class="fa fa-star-o" aria-hidden="true"></i></i></span>
				 			</button>
				 		</span>
				 	</td>
				 </tr>
				<tr ng-show="isActive_Trunk">
				 	<td>TRUNK <span class="badge">{{trunkCount}}</span></td>
				 	<td><i class="fa fa-plus-circle" aria-hidden="true" ng-click="addNote('t')"></i></td>
				 	<td>
				 		<span ng-repeat="t in trunk track by $index">
				 			<button type="button" 
				 					class="btn btn-default" 
				 					id="{{t.id}}" 
				 					ng-show="t.isShow"
				 					ng-click="activeTrunk(t)">
				 				{{t.code}}
				 				<span class="badge" ng-show="t.isNew"><i class="fa fa-star-o" aria-hidden="true"></i></i></span>
				 			</button>
				 		</span>
				 	</td>
				 </tr>
				<tr ng-show="isActive_Branch">
				 	<td>Branch <span class="badge">{{branchCount}}</span></td>
				 	<td><i class="fa fa-plus-circle" aria-hidden="true" ng-click="addNote('b')"></i></td>
				 	<td>
				 		<span ng-repeat="b in branch track by $index">
				 			<button type="button" 
				 					class="btn btn-default" 
				 					id="{{b.id}}" 
				 					ng-show="b.isShow"
				 					ng-click="activeBranch(b)">
				 				{{b.code}}
				 				<span class="badge" ng-show="b.isNew"><i class="fa fa-star-o" aria-hidden="true"></i></i></span>
				 			</button>
				 		</span>
				 	</td>
				 </tr>
				</table>
			</div><!-- E : TREE LIST -->
			<!-- S : EDIT -->
			<div class="col-md-5">
				<div style="height:50vh;">
					<h4>
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						Edit :
						<button id="editType" disabled ng-show="isEditActive">{{currentEditObj.code}}</button>
					</h4>
					<div>
						<table class="editTable" style="width:100%"">
							<tr ng-repeat="(key, value) in currentEditObj track by $index">
								<!-- header -->
								<td width="20%" ng-if="key != 'id' && key != 'codeCate' && key != 'isNew'"class="editTd">
									{{key}}
								</td>
								<!-- body -->
								<td width="80%" ng-if="key != 'id' && key != 'codeCate' && key != 'isNew'" ng-show="key == 'code' || key == 'codeDesc'">
									<input type="text" ng-model="currentEditObj[key]">
								</td>
								<td width="80%" ng-if="key != 'id' && key != 'codeCate' && key != 'isNew'" ng-show="key == 'codeValue'">
									<input type="text" class="urlInput" disabled ng-model="currentEditObj[key]">
									<button class="btn btn-primary urlSubmit" ng-click="selectPage(key)">
										<i class="fa fa-sticky-note-o" aria-hidden="true"></i>
									</button>
								</td>
								<td width="80%" ng-if="key != 'id' || key != 'codeCate' && key != 'isNew'" ng-show="key == 'parentId'">
									  <select class="form-control" ng-model="currentEditObj[key]">
									  		<option ng-repeat="o in eOptions track by o.id" value="{{o.id}}">
									  			{{o.name}}
									  		</option>
									  </select>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div><!-- E : EDIT -->
			<div class="col-md-2"><!-- S : BTN -->
				<div align="right">
					<button type="button" class="btn btn-block" ng-click="save()">
	        			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
	        		</button>
					<button type="button" class="btn btn-block" ng-click="remove()">
	        			<i class="fa fa-trash fa-fw" aria-hidden="true"></i>Delete
	        		</button>
				</div>
			</div><!-- E : BTN -->
		</div>
	</div>
</body>

<!-- Edit Response Model -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="editResponseModel" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      	<!-- header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><i class="fa fa-cogs" aria-hidden="true"></i> EDIT RESPONSE</h4>
        </div>
      	<!-- body -->
        <div class="modal-body">
	       	<h1 id="editResponseStr">{{editResponseStr}}</h1>
	  	</div>
       	<br/>
       	<!-- footer -->
        <div class="modal-footer">
          	<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
	
<!-- Page Review Model -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="pageReviewModel" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
      	<!-- header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><i class="fa fa-file-o" aria-hidden="true"></i> BRRANCH BINDING PAGE</h4>
        </div>
      	<!-- body -->
        <div class="modal-body">
			<select class="form-control" ng-model="seletedPage" ng-change="setCurrentPageSeleted()">
		  		<option ng-repeat="p in pageSeletOpeitons track by $index" value="{{p}}">
		  			{{p}}
		  		</option>
		  	</select>
			<iframe id="hallIframe" ng-src="{{iframeUrl}}" width="100%" height="100%" frameborder="0"></iframe>
	  	</div>
       	<br/>
       	<!-- footer -->
        <div class="modal-footer">
          	<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
	
</html>