<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SSH Start</title>
	
	<!-- 外部資源引入 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/ssh/resources/bootstrap/bootstrap.min.css">
	<script type="text/javascript" src="/ssh/resources/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/angularjs/angular-1.5.6.min.js"></script>
	
	<!-- Customize JS -->
	<script type="text/javascript" src="/ssh/js/hall.js"></script>
	<script type="text/javascript" src="/ssh/js/factory/sshConnectionFactory.js"></script>
	<script type="text/javascript" src="/ssh/js/factory/sshGeneralFactory.js"></script>
	
	<!-- Customize CSS -->
	<link rel="stylesheet" href="/ssh/resources/css/hall.css">
	
</head>
<body ng-app="hallApp" ng-controller="hallCtrl">

	<!-- S : HALL -->
	<div class="hall-revise">
		<h2>SSH Demo Hall</h2>
		<!-- S : MENU -->
		<div class="row">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
			      <a class="navbar-brand" href="http://localhost:8080/ssh/">SIGN OUT</a>
			    </div>
			</nav>
		</div><!-- E : MENU -->
		<!-- S : BODY -->
		<div class="row">
			<!-- S : SIDE BAR -->
			<div class="col-md-2">
				<ul class="nav nav-tabs">
		    		<li ng-repeat="root in tree track by $index">
		    			<a data-toggle="tab" ng-href="#{{root.href}}" ng-click="rootToggle(root)">{{root.name}}</a>
		    		</li>
		  		</ul>
				<div class="tab-content trunkBorder" ng-repeat="root in tree track by $index">
		  			<div id="{{root.href}}" class="tab-pane fade" ng-show="root.isShow">
						<div class="nav treeTrunk">
					    	<li ng-repeat="trunk in root.trunk track by $index">
					    		<label class="treeHeader" ng-click="trunkToggle(trunk)">{{trunk.name}}</label>
								<ul class="nav treeBranch" ng-show="trunk.isShow">
									<li ng-repeat="branch in trunk.branch track by $index">
										<a href="#" ng-click="getPage(branch.url)" id="{{branch.name}}">{{branch.name}}</a>
									</li>	
								</ul>
							</li>
						</div>
		  			</div>
		  		</div>
			</div><!-- E : SIDE BAR -->
			<!-- S : CONTENT -->
			<div class="col-md-10">
				<iframe id="hallIframe" ng-src="{{iframeUrl}}" width="100%" height="700px" frameborder="0"></iframe>
			</div><!-- E : CONTENT -->
		</div><!-- E : BODY -->
	</div><!-- E : HALL -->
	
</body>
</html>