<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SSH Start</title>
	
	<!-- 外部資源引入 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/ssh/resources/bootstrap/bootstrap.min.css">
	<script type="text/javascript" src="/ssh/resources/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/angularjs/angular-1.5.6.min.js"></script>
	
	<!-- Customize JS -->
	<script type="text/javascript" src="/ssh/js/hall.js"></script>
	<script type="text/javascript" src="/ssh/js/factory/sshConnectionFactory.js"></script>
	<script type="text/javascript" src="/ssh/js/factory/sshGeneralFactory.js"></script>
	
	<!-- Customize CSS -->
	<link rel="stylesheet" href="/ssh/resources/css/hall.css">
	
</head>
<body ng-app="hallApp" ng-controller="hallCtrl">
	<div style="padding-right:10%;padding-left:10%;">
		<h2>SSH Demo Hall</h2>
		<div class="row">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
			      <a class="navbar-brand" href="#">WebSiteName</a>
			    </div>
			    <ul class="nav navbar-nav"> 
			      <li><a href="#">Home</a></li>
			      <li><a href="#">Page 1</a></li>
			      <li><a href="#">Page 2</a></li>
			      <li><a href="#">Page 3</a></li>
<!-- 			      計畫 : 進行一些設定，設計要從能設定角度 -->
			    </ul>
			</nav>
		</div>
		<div class="row">
			<!-- sideBar -->
			<div class="col-md-2">
				<ul class="nav nav-tabs ">
		    		<li><a  data-toggle="tab" href="#codingExp">DEMO</a></li>
		    		<li><a data-toggle="tab" href="#config">SYSTEM</a></li>
		  		</ul>
		  		<div class="tab-content siderBarBorder">
					<div id="codingExp" class="tab-pane fade">
					    <div class="nav treeRoot">
					    	<li> <!-- 縮放 root -->
								<label class="treeHeader">AngularJs</label>
								<ul class="nav treeBranches">
									<li ng-repeat="url in angularJsList track by $index">
										<a href="#" ng-click="going(url)">{{url}}</a>
									</li>
								</ul>
							</li>
							<li>
								<label class="treeHeader">Struts2</label>
								<ul class="nav treeBranches">
									<li><a href="#">Table</a></li>
									<li><a href="#">branches_2</a></li> <!-- href="#" 不加這個會觸發縮放 -->
								</ul>
							</li>
						</div>
				  	</div>
				  	<div id="config" class="tab-pane fade">
				    	<div class="nav treeRoot">
				    		<li>
				    			<label class="treeHeader">CfgSystemConfig</label>
								<ul class="nav treeBranches">
									<li><a href="" ng-click="getIframeUrl('cfgSysConParam')">Parameters</a></li>
								</ul>
				    		</li>
				    	</div>
				  	</div>
				</div>
			</div>
			<!-- content -->
			<div class="col-md-10 nopadding">
				<iframe id="hallIframe" ng-src="{{iframeUrl}}" width="100%" height="700px" frameborder="0"></iframe>
			</div>
		</div>
	</div>
	
	<script>
	$(function(){
		
		//.parent()用法是因為如果選 treeRoot，會點不到(div)無法觸發 click，
		//預設縮起
		$(".treeHeader").parent().children('ul.treeBranches').toggle(200);
		
		//觸發縮放
		$(".treeHeader").click(function(){
			$(this).parent().children('ul.treeBranches').toggle(200);
		});
		
	});
	
	</script>
	
</body>
</html>