<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- 外部資源引入 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/ssh/resources/css/bootstrap.min.css">
	<script type="text/javascript" src="/ssh/resources/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/ssh/resources/angularjs/angular-1.5.6.min.js"></script>
	
	<!-- Customize JS -->
	<script type="text/javascript" src="/ssh/js/sysCfgParam.js"></script>

	<!-- Customize CSS -->
	<style>
		table {
		    border-collapse: collapse;
		    width: 100%;
		}
		
		th, td {
		    text-align: left;
		    padding: 8px;
		    text-align:center;
		}
		
		tr:nth-child(even){background-color: #f2f2f2}
		
		th {
		    background-color: #06425C;
		    color: #F2F2F2;
		}
		th:hover {
			background-color: #B7695C;
		}
		tr:hover {
			background-color: #51A39D;
			color : #F2F2F2;
		}
	</style>
</head>
<body ng-app="sysCfgParamApp" ng-controller="sysCfgParamCtrl">

	<h1>System_Config_Param Pages</h1>
	
	<table>
		<thead t-block="blockPagination">
			<tr>
				<th ng-repeat="thItem in tableHeader track by $index"
					ng-click="">
					{{thItem}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tbItems in tableBody track by $index"
				ng-click="test(tbItems[0])">
				<td ng-repeat="tdItem in tbItems track by $index">
					{{tdItem}}
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>