table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    text-align:center;
    white-space: nowrap;
    font-size: 5px;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #06425C;
    color: #F2F2F2;
    font-size: 8px;
}
th:hover {
	background-color: #B7695C;
}
.tdIndex{
	background-color: #395d6d;
    color: #F2F2F2;
}
tr:hover {
	background-color: #51A39D;
	color : #F2F2F2;
}
.button {
    font-size: 30px;
}
.button:hover {

}
.glyphicon {
  	font-size: 20px;
}
.errorInput {
	border:1px solid red;
}
.hideTr {
	background-color:#FFFFFF;
	color:#000000;
}