.revise {
	padding-right:2%;
	padding-left:2%;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
i.fa{
	cursor:pointer;
}