/* 滑鼠選到變深藍 */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: rgb(0, 102, 204);
	color: rgb(255, 255, 255);
}

/* col-md nopadding*/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* treeBranch 美化 */
.treeBranch li{
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #e8e8e8;
  	padding:0 10px;
  	line-height:32px;
}
		
/*	treeTrunk 設定 不要空隙, 不要編號 */
.treeTrunk ul.treeBranch li a{
	list-style-type:none; 
	padding:0px; 
	margin:0px; 
}

/* treeHeader 美化 */
.treeHeader{
  	border-top:1px solid #FFFFFF;
 	 border-bottom:1px solid #e8e8e8;
  	display:block;
  	margin:0;
  	line-height:42px;
  	padding:0 8px; /* 先清空 0 -> 在增加為 8px*/
  	font-weight:600;
}
		
.trunkBorder {
	border-left:1px solid;
	border-right:1px solid;
	border-bottom:1px solid;
	border-color: #ebebe0;
}

/* 標楷體 字型[暫無使用]*/
.DFKai_sb {
	font-family : DFKai-sb;
	font-size : 110%;
}

.hall-revise {
	padding-right:2%;
	padding-left:2%;
}	